{{- /*
  Validate topic front matter.
*/ -}}
{{- $allProjects := where site.RegularPages "Section" "projects" -}}
{{- $projectSlugs := slice -}}
{{- range $allProjects -}}
  {{- $projectSlugs = $projectSlugs | append .File.ContentBaseName -}}
{{- end -}}
{{- $allPublications := where site.RegularPages "Section" "publications" -}}
{{- $publicationSlugs := slice -}}
{{- range $allPublications -}}
  {{- $publicationSlugs = $publicationSlugs | append .File.ContentBaseName -}}
{{- end -}}
{{- $allPeople := where site.RegularPages "Section" "people" -}}
{{- $peopleSlugs := slice -}}
{{- range $allPeople -}}
  {{- $peopleSlugs = $peopleSlugs | append .File.ContentBaseName -}}
{{- end -}}

{{- range where site.RegularPages "Section" "topics" -}}
  {{- $slug := .File.ContentBaseName -}}
  {{- if isset .Params "open" -}}
    {{- if ne (printf "%T" .Params.open) "bool" -}}
      {{- errorf "Topic error: topic %q has non-boolean open." $slug -}}
    {{- end -}}
  {{- end -}}

  {{- if isset .Params "collaborators" -}}
    {{- errorf "Topic error: topic %q still uses collaborators; rename to cosupervisors (person slugs)." $slug -}}
  {{- end -}}

  {{- if isset .Params "supervisor" -}}
    {{- $supervisor := .Params.supervisor -}}
    {{- if ne (printf "%T" $supervisor) "string" -}}
      {{- errorf "Topic error: topic %q has a non-string supervisor." $slug -}}
    {{- else if eq (strings.TrimSpace $supervisor) "" -}}
      {{- errorf "Topic error: topic %q has an empty supervisor slug." $slug -}}
    {{- else if not (in $peopleSlugs $supervisor) -}}
      {{- errorf "Topic error: topic %q links to unknown supervisor %q." $slug $supervisor -}}
    {{- end -}}
  {{- end -}}

  {{- if isset .Params "cosupervisors" -}}
    {{- if not (reflect.IsSlice .Params.cosupervisors) -}}
      {{- errorf "Topic error: topic %q has non-list cosupervisors." $slug -}}
    {{- else -}}
      {{- range .Params.cosupervisors -}}
        {{- if ne (printf "%T" .) "string" -}}
          {{- errorf "Topic error: topic %q has a cosupervisor slug that is not a string." $slug -}}
        {{- else if eq (strings.TrimSpace .) "" -}}
          {{- errorf "Topic error: topic %q has an empty cosupervisor slug." $slug -}}
        {{- else if not (in $peopleSlugs .) -}}
          {{- errorf "Topic error: topic %q links to unknown person %q." $slug . -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- if and (isset .Params "projects") (not (reflect.IsSlice .Params.projects)) -}}
    {{- errorf "Topic error: topic %q has non-list projects." $slug -}}
  {{- end -}}
  {{- range (default (slice) .Params.projects) -}}
    {{- if not (in $projectSlugs .) -}}
      {{- errorf "Topic error: topic %q links to unknown project %q." $slug . -}}
    {{- end -}}
  {{- end -}}

  {{- if and (isset .Params "publications") (not (reflect.IsSlice .Params.publications)) -}}
    {{- errorf "Topic error: topic %q has non-list publications." $slug -}}
  {{- end -}}
  {{- range (default (slice) .Params.publications) -}}
    {{- if not (in $publicationSlugs .) -}}
      {{- errorf "Topic error: topic %q links to unknown publication %q." $slug . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
