{{- /*
  Validate opportunity front matter.
*/ -}}
{{- $allProjects := where site.RegularPages "Section" "projects" -}}
{{- $projectSlugs := slice -}}
{{- range $allProjects -}}
  {{- $projectSlugs = $projectSlugs | append .File.ContentBaseName -}}
{{- end -}}
{{- $allPublications := where site.RegularPages "Section" "publications" -}}
{{- $publicationSlugs := slice -}}
{{- range $allPublications -}}
  {{- $publicationSlugs = $publicationSlugs | append .File.ContentBaseName -}}
{{- end -}}

{{- range where site.RegularPages "Section" "opportunities" -}}
  {{- $slug := .File.ContentBaseName -}}
  {{- if isset .Params "open" -}}
    {{- if ne (printf "%T" .Params.open) "bool" -}}
      {{- errorf "Opportunity error: opportunity %q has non-boolean open." $slug -}}
    {{- end -}}
  {{- end -}}

  {{- if isset .Params "collaborators" -}}
    {{- if not (reflect.IsSlice .Params.collaborators) -}}
      {{- errorf "Opportunity error: opportunity %q has non-list collaborators." $slug -}}
    {{- else -}}
      {{- range .Params.collaborators -}}
        {{- if ne (printf "%T" .) "string" -}}
          {{- errorf "Opportunity error: opportunity %q has a collaborator name that is not a string." $slug -}}
        {{- else if eq (strings.TrimSpace .) "" -}}
          {{- errorf "Opportunity error: opportunity %q has an empty collaborator name." $slug -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- if and (isset .Params "projects") (not (reflect.IsSlice .Params.projects)) -}}
    {{- errorf "Opportunity error: opportunity %q has non-list projects." $slug -}}
  {{- end -}}
  {{- range (default (slice) .Params.projects) -}}
    {{- if not (in $projectSlugs .) -}}
      {{- errorf "Opportunity error: opportunity %q links to unknown project %q." $slug . -}}
    {{- end -}}
  {{- end -}}

  {{- if and (isset .Params "publications") (not (reflect.IsSlice .Params.publications)) -}}
    {{- errorf "Opportunity error: opportunity %q has non-list publications." $slug -}}
  {{- end -}}
  {{- range (default (slice) .Params.publications) -}}
    {{- if not (in $publicationSlugs .) -}}
      {{- errorf "Opportunity error: opportunity %q links to unknown publication %q." $slug . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
